{{define "default"}}{{/*Override default content originally defined in base.layout.tmpl*/}}
<h2>Overridden</h2>
{{end}}

{{define "content"}}{{/*Define main content for the first time. Expected in base.layout.tmpl*/}}
<h1>home content 1</h1>
{{end}}